<div class="sign_up_top">
  <div class="user">
    <div class="user_main">
      <h2>住所情報登録</h2>

      <%= form_with model:@address, url: addresses_path, class:"new_user", local:true  do |f| %>
        <%= render "devise/shared/error_messages", resource: @address %>

        <div class="field">
          <%= f.label :post_code %><br />
          <%= f.text_field :post_code, placeholder:"例）123-4567" %>
        </div>

        <div class="field">
          <%= f.label :address %><br />
          <%= f.text_field :address %>
        </div>
        <div class="field">
          <%= f.label :tel %><br />
          <%= f.text_field :tel, placeholder:"例）09012345678"%>
        </div>
        <div class="field">
          <%= f.label :emergency_contact_tel %><br />
          <%= f.text_field :emergency_contact_tel, placeholder:"例）09012345678" %>
        </div>
        <div class="field">
          <%= f.label :emergency_contact_name %><br />
          <%= f.text_field :emergency_contact_name %>
        </div>



        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

    </div>
  </div>
</div>